/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.span-component {
    background-color: rgb(10, 94, 55);
    border: 2px solid green;
    border-color: rgb(18, 145, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.time_container {
    border: 3px solid rgb(71, 21, 138);
    width: fit-content;
}
.start_date_container {
    display: flex;
    border: 2px solid red;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.end_date_container {
    display: flex;
    border: 2px solid rgb(33, 252, 4);
    justify-content: right;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.duration_container {
    display: flex;
    border: 2px solid cyan;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.week_container {
    width: 100%;
    display: flex;
}
.passed_day_container,
.day_container {
    width: 100%;
    display: flex;
    border: solid white;
    color: #0f1116;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.day_container {
    background-color: aquamarine;
}
.passed_day_container {
    background-color: green;
    color: black;
}