/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.span-component {
    background-color: rgb(10, 94, 55);
    border: 2px solid green;
    border-color: rgb(18, 145, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.time_container {
    border: 3px solid rgb(71, 21, 138);
    width: fit-content;
}
.start_date_container {
    display: flex;
    border: 2px solid red;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.end_date_container {
    display: flex;
    border: 2px solid rgb(33, 252, 4);
    justify-content: right;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.duration_container {
    display: flex;
    border: 2px solid cyan;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.week_container {
    width: 100%;
    display: flex;
}
.day_container,
.passed_day_container {
    width: 100%;
    display: inline-block;
    border: solid white;
    color: #0f1116;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.day_container {
    background-color: aquamarine;
}
.passed_day_container {
    background-color: chartreuse;
    display: inline-block;
    height: auto;
}
.dropbutton {
    border: solid white;
    background-color: inherit;
    width: 100%;
    height: 100%;
}
.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 13.5%;
    overflow: auto;
    background-color: cornflowerblue;
}
.dropdown_content a {
    color: black;
    display: block;
}
.passed_day_container:hover .dropdown_content {
    display: block;
}
.day_container:hover .dropdown_content {
    display: block;
}